.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-error {
  color: red;
}

.App-link {
  color: #61dafb;
}

.inputArray{
  width: 20rem;
  height: 2.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
}
.resultCard{
  height: 5rem;
  background-color: #fff;
  border-radius: 10px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
